* {
  box-sizing: border-box;
  font-family: "Segoe UI Light", arial, sans-serif;
}

html, body, #root {
  height: 100%;
  font-size: 16px;
}

body {
  background: #181818;
  color: #fafafa;
  overflow-x: hidden;
  margin: 0;
}

.masthead-container {
  min-width: 320px;
  position: relative;
}

.masthead-container, .masthead-tile, .masthead-header, .masthead-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masthead-header {
  width: 100%;
  margin: auto;
  flex-direction: column;
  flex: 0 0 200px;
  justify-content: space-around;
}

.masthead-content {
  flex: 1 1 calc(100% - 200px);
  display: flex;
  position: relative;
  width: 100%;
  overflow-y: auto;
}

.logo {
  height: 60px;
}

.masthead-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.masthead-background {
  background: #181818;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.masthead-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  height: max-content;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.masthead-tile {
  flex: 1 0 24%;
  max-width: calc(33.3333vw - 20px);
  justify-content: center;
  color: #fafafa;
  border: 0;
  background: #202020;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
  padding: 10px;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}

.masthead-tile:before {
  content: '';
  padding-top: 100%;
}

.masthead-tile:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.tile-wrap {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
}

.icon {
  font-size: calc(24px + (64 - 24) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 20px;
}

.masthead-subitems {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.66em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.025);
}

.masthead-subitems i {
  font-size: 1em;
  position: relative;
  top: 2px;
}

.muted {
  opacity: 0.8;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 100%;
}

.masthead-enter {
  transform: translate3d(100%, 0, 0px);
  opacity: 0;
}

.masthead-enter.masthead-enter-active {
  transform: translate3d(0%, 0, 0px);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.masthead-exit {
  transform: translate3d(0%, 0, 0px);
  opacity: 1;
}

.masthead-exit.masthead-exit-active {
  transform: translate3d(100%, 0, 0px);
  opacity: 0;
  transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.menu-title-container {
  width: 100%;
  min-height: 60px;
}

.menu-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  background: #202020;
  border: 0;
  color: #fff;
}

.menu-title i {
  margin-right: 5px;
}

/* 
.children-1 .masthead-tile {
  width: 100vw;
  height: calc(100vw - 20px);
}

.children-2 .masthead-tile {
  width: 50vw;
  height: calc(50vw - 20px);
}

.children-3 .masthead-tile {
  width: 33.333333333vw;
  height: calc(33.333333333vw - 20px);
}

.children-4 .masthead-tile {
  width: 25vw;
  height: calc(25vw - 20px);
}

.children-5 .masthead-tile {
  width: 20vw;
  height: calc(20vw - 20px);
}

.children-6 .masthead-tile {
  width: 16.6666666666vw;
  height: calc(16.6666666666vw - 20px);
} */