* {
  box-sizing: border-box;
  font-family: "Segoe UI Light", arial, sans-serif;
}

html, body, #root {
  height: 100%;
  font-size: 16px;
}

body {
  background: #181818;
  color: #fafafa;
}

.masthead-container {
  min-width: 320px;
}

.masthead-container, .masthead-tile, .masthead-header, .masthead-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masthead-header {
  padding: 20px 0;
}

.masthead-items {
  display: flex;
  width: 100%;
  padding: 5vw;
}

.logo {
  width: 300px;
  height: 89px;
}

.masthead-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.masthead-tile {
  flex-direction: column;
  width: 33vw;
  height: 33vw;
  min-width: 150px;
  min-height: 150px;
  max-height: 300px;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.05);
  color: #fafafa;
  border: 0;
  font-size: 24px;
  margin: 10px;
  padding: 20px;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}

.masthead-tile:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.icon {
  font-size: 48px;
  margin-bottom: 20px;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 10px);
}